<div class="org-wrapper">

    <h2 class="page-title">Organisation Chart</h2>

        <!-- Level 1 -->
        <div class="org-row" >
         <img src="~/images/ORG.jpg" alt="Alternate Text" style="height:800px;margin-left:150px" />
        </div>
</div>