<h2>Upload PDF</h2>

<form asp-action="Upload" method="post" enctype="multipart/form-data">

    <input type="file" name="file" />

    <button type="submit">Upload</button>

</form>

<br>

<a href="/Pdf/Index">View Uploaded PDFs</a>